// Color variables
$gray: #b2b7b9;
$light-gray: #e1e4e5;
$lighter-gray: #f6f9fb;

// Font sizes
$title: 16px;
$subtitle: 12px;
$user-id-list: 14px;
$user-id-details: 18px;
$tile-title: 12px;
$tile-value: 18px;

// Spacing variables
// Hardcoded the values for the purpose of the task, but a px() function can be created instead
$xs: 4px;
$sm: 8px;
$md: 16px;
$lg: 24px;

// Other
$border: 1px;
$box-shadow: 20px;
$spinner-dimensions: 96px;
